# --- Salidas de Compilación (Maven) ---
target/
**/target/
build/
bin/

# --- Maven Wrapper ---
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
buildNumber.properties

# --- Configuraciones Locales de Entornos (IDE) ---
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache
.apt_generated
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
HELP.md

# --- Sistema Operativo Mac ---
.DS_Store